{% extends 'base.html.twig' %}

{% block title %} Paiement réussi {% endblock %}

{% block body %}
    <h1>Paiement réussi !</h1>
    <p>Merci pour votre achat.</p>
    <a href="{{ path('app_main') }}">Retour à l'accueil</a>
{% endblock %}
