<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">

            <!-- Menu Contact -->
            <div class="col-md-2 col-12">
                <h3 class="fs-6 text-center">
                    <a class="nav-link text-white p-2 d-block" href="{{ path('app_contact') }}">
                        Contact
                    </a>
                </h3>
            </div>

            <!-- Menu Entreprise & Avis -->
            <div class="col-md-2 col-12">
                <div class="accordion" id="footerAccordion1">
                    <div class="accordion-item bg-dark border-0">
                        <h2 class="accordion-header text-center">
                            <button class="accordion-button text-white bg-dark collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#entreprise">
                                Entreprise & Avis
                            </button>
                        </h2>
                        <div id="entreprise" class="accordion-collapse collapse" data-bs-parent="#footerAccordion1">
                            <div class="accordion-body">
                                <a href="#a-propos" class="text-white d-block">À propos</a>
                                <a href="#" class="text-white d-block">Avis clients</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Menu Mentions légales -->
            <div class="col-md-2 col-12">
                <h3 class="fs-6 text-center">
                    <a class="nav-link text-white p-2 d-block" href="{{ path('app_mentions_legales') }}">
                        Mentions légales
                    </a>
                </h3>
            </div>

            <!-- Menu Réseaux sociaux -->
            <div class="col-md-2 col-12">
                <div class="accordion" id="footerAccordion2">
                    <div class="accordion-item bg-dark border-0">
                        <h2 class="accordion-header text-center">
                            <button class="accordion-button text-white bg-dark collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#social">
                                Réseaux sociaux
                            </button>
                        </h2>
                        <div id="social" class="accordion-collapse collapse" data-bs-parent="#footerAccordion2">
                            <div class="accordion-body">
                                <a href="#" class="text-white d-block"><i class="bi bi-facebook"></i> Facebook</a>
                                <a href="#" class="text-white d-block"><i class="bi bi-instagram"></i> Instagram</a>
                                <a href="#" class="text-white d-block"><i class="bi bi-twitter"></i> Twitter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Menu Billetterie -->
            <div class="col-md-2 col-12">
                <div class="accordion" id="footerAccordion3">
                    <div class="accordion-item bg-dark border-0">
                        <h2 class="accordion-header text-center">
                            <button class="accordion-button text-white bg-dark collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#billetterie">
                                Billetterie
                            </button>
                        </h2>
                        <div id="billetterie" class="accordion-collapse collapse" data-bs-parent="#footerAccordion3">
                            <div class="accordion-body">
                                <a href="#" class="text-white d-block">Acheter un billet</a>
                                <a href="#" class="text-white d-block">Tarifs</a>
                                <a href="#" class="text-white d-block">Offres spéciales</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Nom du site en bas en gras -->
        <div class="text-center mt-4">
            <p class="fw-bold">© 2025 <span class="text-uppercase">Zoolandia</span> - Tous droits réservés</p>
        </div>
    </div>
</footer>

